*{
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  padding: 10px;
}
*, *:before, *:after {
  box-sizing: border-box;
}
.label{

}
.heading{
font-size: x-large;
font-weight: 600;
margin-top: 40px;
}
.strong{
    color:green;
}
.medium{
    color:orange;
}
.weak{
    color:orangered;
}
.veryWeak{
    color:crimson;
}
.row{
display:flex;
flex-direction:row;
margin-top: 10px;
height: 33px;
}
.label{
  width:330px;
  display:flex;
  align-items: center;
}
#own{
  font-size: larger;
  padding: 2px;
  text-align: center;
  letter-spacing: 2px;
  border-radius: 5px;
  border: 2px solid #2a3846;
}
.slider, #own {
  width: calc(100% - 330px);
}
.sliderRange {
  -webkit-appearance: none;
  width: calc(100% - (80px));
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
}
.sliderRange::-webkit-slider-thumb{
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2a3846;
  cursor: pointer;
}
.sliderValue {
  display: inline-block;
  position: relative;
  padding: 5px 10px;
  margin-left: 8px;
  width: 60px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #2a3846;
}
.sliderValue:after {
  position: absolute;
  width: 0;
  height: 0;
  top: 8px;
  left: -7px;
  border-top: 7px solid transparent;
  border-right: 7px solid #2a3846;
  border-bottom: 7px solid transparent;
  content: '';
}
/*Mozilla*/
::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}
input::-moz-focus-inner, input::-moz-focus-outer {
  border: 0;
}
.sliderRange::-moz-range-thumb{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2a3846;
  cursor: pointer;
}
/* Chromium */
.sliderRange::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 3px #fff, 0 0 0 6px #2a3846;
}



.output{
  border: 2px solid #2a3846;
  height: 35px;
  width: 100%;
  margin: 0 5px;
  font-size: x-large;
  border-radius: 5px;
  text-align: center;
  color: darkblue
}
.button{
  font-size: larger;
  padding: 0 5px;
}
.exp{
  font-size: small;
}